<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="activity">
            <h2><span jhiTranslate="stucdentdetailsApp.activity.detail.title">Activity</span> {{activity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="stucdentdetailsApp.activity.activityname">Activityname</span></dt>
                <dd>
                    <span>{{activity.activityname}}</span>
                </dd>
                <dt><span jhiTranslate="stucdentdetailsApp.activity.activityid">Activityid</span></dt>
                <dd>
                    <span>{{activity.activityid}}</span>
                </dd>
                <dt><span jhiTranslate="stucdentdetailsApp.activity.activitydate">Activitydate</span></dt>
                <dd>
                    <span>{{activity.activitydate}}</span>
                </dd>
                <dt><span jhiTranslate="stucdentdetailsApp.activity.starttime">Starttime</span></dt>
                <dd>
                    <span>{{activity.starttime}}</span>
                </dd>
                <dt><span jhiTranslate="stucdentdetailsApp.activity.endtime">Endtime</span></dt>
                <dd>
                    <span>{{activity.endtime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/activity', activity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
